In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
game_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(game_data)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players
nop

In [2]:
nop = pd.DataFrame (purchase_data["SN"])
nop

unop = nop["SN"].value_counts()
pnop =pd.DataFrame(unop)


sn_count = pd.DataFrame(pnop.count())
sn_count

      0
SN  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
price_df=purchase_data["Price"].value_counts()
price_df

4.40    21
4.23    20
4.35    14
2.18    14
1.02    14
        ..
2.17     1
4.17     1
1.99     1
4.50     1
3.30     1
Name: Price, Length: 145, dtype: int64

In [4]:
revenue=purchase_data["Price"].sum()
revenue

2379.77

In [5]:
mn = purchase_data["Price"].mean()
mn

3.050987179487176

In [6]:
revenue = purchase_data["Price"].sum()
revenue

mn = purchase_data["Price"].mean()
mn

d1 = {'Total Revenue':[2379.77], 'Average Price' : [3.05], 'Total Purchases': [780],}

df = pd.DataFrame(d1)
df

   Total Revenue  Average Price  Total Purchases
0        2379.77           3.05              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
df1 = purchase_data [["Gender", "Age", "SN"]].drop_duplicates("SN")

In [8]:
g_df = df1["Gender"].value_counts()
g_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
g_df = purchase_data["Gender"].value_counts()

g_df = {"Male": 484, "Female" : 81, "Other / Non-Disclosed": 11}
                   
total = 484 + 81 + 11

malep = (g_df["Male"]/ total)
femalep = (g_df["Female"]/ total)
otherp = (g_df["Other / Non-Disclosed"]/ total)

malec = (g_df["Male"])
femalec = (g_df["Female"])
otherc = (g_df["Other / Non-Disclosed"])

print("PERCENTAGES")
print ("Male: " + "{:.2%}".format(malep)) 
print("Female: "+"{:.2%}".format(femalep))
print("Other / Non-Disclosed: "+"{:.2%}".format(otherp))

df_count = pd.DataFrame ({"Male Count": [malec], "Female Count" : [femalec],"Other Count" : [otherc] })
df_count

PERCENTAGES
Male: 84.03%
Female: 14.06%
Other / Non-Disclosed: 1.91%

   Male Count  Female Count  Other Count
0         484            81           11

In [10]:
df_percentage = pd.DataFrame ({"Male Percentage" :[84.03], "Female Percentage" : [14.06], "Other Percentage" : [1.91]})
df_percentage

   Male Percentage  Female Percentage  Other Percentage
0            84.03              14.06              1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_data = pd.read_csv(game_data)
gender_p = purchase_data.groupby(['Gender'])

average = purchase_data['Price'].mean()
print("AVERAGE PRICE:")
print(average)

ggt = gender_p["Price"].sum()
ggt

male_avg = (1967.64/484)
female_avg = (361.94/81)
other_avg = (50.19/11)


df2 = pd.DataFrame ({"Male Average": [male_avg], "Female Average" : [female_avg],"Other Average" : [other_avg] })

df2

AVERAGE PRICE:
3.050987179487176

   Male Average  Female Average  Other Average
0      4.065372        4.468395       4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
ages = purchase_data[["Age", "SN", "Gender"]]
ages

df = pd.DataFrame(ages)

bins = [0,10,20,30,40,50]

group_names = ["0-10", "10-20", "20-30", "30-40", "40+"]

df["Age Summary"] = pd.cut(df["Age"], bins, labels = group_names)
df

df = df.groupby("Age Summary")
df.max()

             Age             SN                 Gender
Age Summary
0-10          10     Zhisrisu83                   Male
10-20         20  Yoishirrala98  Other / Non-Disclosed
20-30         30      Zontibe81  Other / Non-Disclosed
30-40         40         Yalo85  Other / Non-Disclosed
40+           45     Mindossa76                   Male

In [13]:
age_group = ages["Age Summary"]

pd.DataFrame(age_group.value_counts())

       Age Summary
20-30          402
10-20          254
30-40           85
0-10            32
40+              7

In [14]:
young = (32/576)
teen = (254/576)
young_adult = (402/576)
adult = (85/576)
older_adult = (7/576)

print("PERCENTAGES")
print ("Young: " + "{:.2%}".format(young)) 
print("Teen: " + "{:.2%}".format(teen))
print("Young Adult: "+"{:.2%}".format(young_adult))
print("Adult: "+"{:.2%}".format(adult))
print("Older Adult:" +"{:.2%}".format(older_adult))

PERCENTAGES
Young: 5.56%
Teen: 44.10%
Young Adult: 69.79%
Adult: 14.76%
Older Adult:1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
pd.DataFrame(purchase_data)

age_1 = purchase_data[["Age", "Price", "SN"]]
age_1

df = pd.DataFrame(age_1)

bins = [0,9.9,14.4,19.9, 24.4, 29.9, 34.4,39.9,9999]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_summary = df
age_summary["Age Summary"] = pd.cut(df["Age"], bins, labels = group_names)

age_count = age_summary.groupby(["Age Summary"]).count()["Price"].rename("Purchase Value")


age_average = age_summary.groupby(["Age Summary"]).mean()["Price"].rename("Purchase Average")

age_total = age_summary.groupby(["Age Summary"]).sum()["Price"].rename("Purchase Total")


new_df = pd.DataFrame({"Purchase Value" : age_count, "Purchase Average": age_average, "Purchase Total" :age_total, 
})

new_df["Purchase Average"] = new_df["Purchase Average"].map("${:,.2f}".format)
new_df["Purchase Total"] = new_df["Purchase Total"].map("${:,.2f}".format)

new_df


#avg total purchase per person

             Purchase Value Purchase Average Purchase Total
Age Summary
<10                      23            $3.35         $77.13
10-14                    28            $2.96         $82.78
15-19                   136            $3.04        $412.89
20-24                   365            $3.05      $1,114.06
25-29                   101            $2.90        $293.00
30-34                    73            $2.93        $214.00
35-39                    41            $3.60        $147.67
40+                      13            $2.94         $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
pd.DataFrame(purchase_data)
purchase_data

spend1 = purchase_data[["Price", "SN"]]
spend1

df3 = pd.DataFrame(spend1)

purchase_count = df3.groupby(["SN"]).count()["Price"].rename("Purchase Count")

avg_purchase_price = df3.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")

total_purchase_value = df3.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")


new_df3 = pd.DataFrame({"Purchase Count" : purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value" :total_purchase_value}) 

new_df3 = new_df3.sort_values("Total Purchase Value", ascending=False)

new_df3["Average Purchase Price"] = new_df3["Average Purchase Price"].map("${:,.2f}".format)
new_df3["Total Purchase Value"] = new_df3["Total Purchase Value"].map("${:,.2f}".format)

new_df3

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
pd.DataFrame(purchase_data)

pop_data = purchase_data.loc[:,[ "Price","Item ID", "Item Name", "Purchase ID", "Age"]]


total_item_p = pop_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = pop_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Item Purchase")
item_count = pop_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

item_data_df = pd.DataFrame({"Total Purchase Value": total_item_p, "Average Item Purchase": average_item_purchase,
                             "Purchase Count": item_count})
item_data_sorted = item_data_df.sort_values("Purchase Count", 
    ascending = False)

item_data_sorted["Average Item Purchase"] = item_data_sorted["Average Item Purchase"].map("${:,.2f}".format)
item_data_sorted["Total Purchase Value"] = item_data_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_data_sorted["Purchase Count"] = item_data_sorted["Purchase Count"]

pop_data_f = item_data_sorted.loc[:,["Purchase Count", "Average Item Purchase", "Total Purchase Value"]]

pop_data_f.head()

,,Purchase Count,Average Item Purchase,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
item_profit = item_data_df.sort_values("Total Purchase Value", ascending = False)

item_profit["Average Item Purchase"] = item_profit["Average Item Purchase"].map("${:,.2f}".format)
item_profit["Total Purchase Value"] = item_profit["Total Purchase Value"].map("${:,.2f}".format)
item_profit["Purchase Count"] = item_profit["Purchase Count"].map("{:,}".format)